<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="static\css1\404.css">
</head>
<body>
    <div class="d1"><h4>OPPS!!!</h4></div>
    <div class="d2">404 PAGE NOT FOUND</div>
    <div class="dp"><p>
        The link might be wrong or it may be miss typed!!!<br>
        Please check the link you type!!!
    </p></div>
    <div id="a">
        <a href="/">GO TO HOME</a>
    </div>
</body>
</html>