<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5814413513393088"
     crossorigin="anonymous"></script>
</head>
<body>
    <%- include("../parts/nav_1") %>
    <input type="text" id="text" placeholder="Enter text">

    <button onclick="generateQR()">Generate QR</button>

    <img id="qrImage">

    <%- include("../parts/footer") %>

<script src="/static/js1/qr_gen.js"></script>
</body>
</html>

